node_modules/
.DS_Store
dist/
.env
.env.local
.env.*.local
.vscode/
.idea/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
/.turbo/
coverage/
build/
/.parcel-cache/
/.pnp.cjs
/.pnp.loader.mjs
